<!DOCTYPE html>
<html>
<head>
	<title>XYZ</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/logreg.css">
        <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<body>

	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" >XYZ</a>
            </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="/">Events</a></li>
                  
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <!-- <%  if(!currentUser){ %> -->
                       <!-- <li><a href="/login">Login</a></li> -->
                       <li><a href="/register">SignUp</a></li>
                      
                  <!--<%  } else{ %> -->
                         <!-- <li><a href="#">Signed In As <%= currentUser.username %></a></li> -->
                         <!-- <li><a href="/logout">LogOut</a></li> -->

              <!-- <%    }  %> -->
                 
              </ul>
          </div>
          
      </div>
      
   </nav>

<div class="container">
    <div class="row">
            <h1 style="text-align: center">Volunteer Registration</h1>
            <div style="width: 30%; margin: 25px auto;">
                    <form action="/" method="POST">
                        <div class="form-group"> 
                        <input class="form-control" type="text" name="name" placeholder="Your Name" required>
                        </div>
                        <div class="form-group"> 
                        <input class="form-control" type="email" name="email" placeholder="Your Email" required>
                        </div>
                        <div class="form-group"> 
                        <input class="form-control" type="password" name="password" placeholder="Set Password(min length 5)"required pattern=".{5,}" >
                        </div>
                        <div class="form-group"> 
                        <input class="form-control" type="number" name="number" placeholder="Enter Phone No" required>
                        </div>
                        <div class="form-group"> 
                        <input class="form-control" type="text" name="org" placeholder="Enter Organization(Optional)">
                        </div>
                        <div class="form-group"> 
                        <input class="form-control" type="text" name="location" placeholder="Enter Address" required>
                        </div>
                        <div class="checkbox"> 
                        Interests: <br>
                        <label><input class="checkbox" type="checkbox" name="teach" value="teach">Teaching</label>
                        <label><input class="checkbox" type="checkbox" name="paint" value="paint">Painting</label>
                        </div>
                        Others (Please Specify)
                        <div class="form-group"> 
                        <input class="form-control" type="text" name="interests" placeholder="Other Interests">
                        </div>
                        <div class="form-group"> 
                        <input class="form-control" type="number" name="age" placeholder="Enter Your Age" min="18" required>
                        </div>
                        <div class="form-group"> 
                        <button class="btn btn-lg btn-primary btn-block">Submit</button>
                        </div>
                    </form>
                    <a href="/">Go Back</a>
            </div>
            
    </div>
       
</div>
<p class="text-center " style="font-size: 15px;margin-top: 100px" id="copy">XYZ Copyright 2019</p>
    </body>
</html>
